// primary colors
$primary-text-color: #323232; //BrainFlix black
$primary-cta-color: #e09a48; //
$alt-text-color: #AFAFAF; //silver
$background-color: #f0eac8; //white

// secondary colors
$video-color: #000000; //BrainFlix-darkblack
$hover-cta-color: #1b7a38; //
$divider-color: #dbebdd; //mercury
$alt-background-color: #FAFAFA; //alabaster
$error-color: #d22d2d; //error state 